<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='icomoon/style.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='icomoon/demo-files/demo.css')}}">
	<script src="{{ url_for('static', filename='jquery-3.6.0.min.js')}}" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png' ) }}">
	{% if title %}
		<title>Request 100 - {{ title }}</title>
	{% else %}
		<title>Request 100</title>
	{% endif %}
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4 yellowtail" href="{{ url_for('index') }}" style="color: #1e1e1e;">
					Request <sup style="color: red;">100</sup>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link text-decoration-none" href="{{ url_for('index') }}">Home</a></li>
						<li class="nav-item"><a class="nav-link text-decoration-none" href="{{ url_for('about') }}">About</a></li>
					</ul>
					<!--Navbar right side-->
					
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		{% block content %} {% endblock %}
	</div>
	<script>
	</script>
</body>
</html>
